<div *ngIf="book" class="container">
	<h2 class="page-header">Update Book: {{book.name}}</h2>
	<form (submit)="onUpdateSubmit()">
		<div class="from-group">
			<label>Name</label>
			<input class="form-control" type="text" [(ngModel)]="name" name="name" >
		</div>
		<div class="from-group">
			<label>Genre</label>
			<input class="form-control" type="text" [(ngModel)]="genre" name="genre">
		</div>
		<div class="from-group">
			<label>Author</label>
			<input class="form-control" type="text" [(ngModel)]="author" name="author">
		</div>
		<div class="from-group">
			<label>Isbn</label>
			<input class="form-control" type="text" [(ngModel)]="isbn" name="isbn">
		</div>
		<div class="from-group">
			<label>Date</label>
			<input class="form-control" type="text" [(ngModel)]="publishdate" name="publishdate">
		</div>
		<div class="from-group">
			<label>Cover (URL)</label>
			<input class="form-control" type="url" [(ngModel)]="cover" name="cover">
		</div>
		<br>
		<input class="btn btn-primary" type="submit" value="Submit">
	</form>
</div>